body{font-size: 120%;font-family: sans-serif;background: #f1f1f1}
		*{margin: 0}
		a{text-decoration: none;}
		header ul{list-style-type: none;}
		header{position: fixed;width: 100%;top: 0}
		header div{background: #11252f;width: 100%;height: 3em;padding-bottom: .2em;padding-top: .2em;}
		header div a{color:white;}
		header div li{float: right;padding: 0 2em;margin-top: 1em;}
		header div ul{list-style-type: none;}
		header nav{background: #183544;height: 7em;}
		#inputSeach{padding: .75em 0; width: 50%;margin:1.4em 3em;margin-right: 0 ;float: left;border-radius: 5px 0 0 5px  }



		header section{background: #183544;height: 3em;border-top: 1px solid black;}
		header section ul{list-style-type: none;position: relative;}
		header section li{float: left;margin-top: .7em;}
		header section a{color: white;padding: 1.4em;}
		header section a:hover{color: red;}
		header section ul ul{display: none;position: absolute;top: 2em;
							background:#3b4045;margin: 0;width: 100%;height: 200px;
							padding: ;left: 0 }
		header section ul li:hover ul{display: block;}

		main{position:absolute;top: 14em;z-index: -1}
		main div li{display: block;float: left;background: #c8d2dd;padding: 1em;margin: .5em;width: 15em;font-weight: bold;text-align: center;	}
		main {height: 1000px;} 
		main div a{text-decoration: none;}
		main div li:hover{background: #596d78}

		footer{height: 3em;background: #183544;padding: 1em;width: 100%;clear: both;position: absolute;top: 1500px}
		.tabcontent{clear: both; display: none;
	    padding: 6px 12px;
	    border: 1px solid #ccc;
	    border-top: none;}
	    
	   .active#khuyenmaiTab{background: #f37021}
	    .active{background: #596d78}
	    .active#samsungTab{background: #f00d23}
	    